### Esercizio numero 1

In [1]:
#1. Scrivi una funzione che restituisca il massimo di tre numeri.
num1= float(input("inserisi un numero",))
num2= float(input('inserisci un numero',))
num3 = float(input('inserisci un numero',))

massimo = max(num1,num2,num3)
print(r"il numero più grande è", massimo)

inserisi un numero 2
inserisci un numero 4
inserisci un numero 6

il numero più grande è 6.0

### Esercizio 1 senza max

In [13]:
def massimo_dei_tre(num1, num2, num3):
    return num1 if (num1 >= num2 and num1 >= num3) else (num2 if (num2 >= num1 and num2 >= num3) else num3)
num1= float(input("inserisi un numero",))
num2= float(input('inserisci un numero',))
num3 = float(input('inserisci un numero',))
massimo = massimo_dei_tre(num1, num2, num3)
massimo

inserisi un numero 4
inserisci un numero 4
inserisci un numero 5

5.0

### Esercizio numero 2

In [2]:
#2. Scrivi una funzione che converta gradi Celsius in Fahrenheit.
temp = float(input("Inserisci una temperatura in C°: "))
conv = (temp*9/5) + 32
print(r"Conversione: ", conv)

Inserisci una temperatura in C°:  30

Conversione:  86.0

### Esercizio numero 3

In [3]:
#3. Scrivi un programma che rimuova i duplicati da una lista.
def rimuovi_duplicati(lista):
    # Utilizziamo un set per rimuovere i duplicati mantenendo l'ordine originale
    lista_senza_duplicati = list(set(lista))
    return lista_senza_duplicati

# Esempio di utilizzo del programma
lista_originale = [1, 2, 3, 4, 2, 3, 5, 6, 6, 7]
lista_senza_duplicati = rimuovi_duplicati(lista_originale)
print("Lista originale:", lista_originale)
print("Lista senza duplicati:", lista_senza_duplicati)

Lista originale: [1, 2, 3, 4, 2, 3, 5, 6, 6, 7]
Lista senza duplicati: [1, 2, 3, 4, 5, 6, 7]

### Esercizio numero 4

In [9]:
def verifica_palindromo(parola):
    # Confronta la parola data con l'inverso
    return parola == parola[::-1]

# Esempio di utilizzo della funzione
parola = "anna"
if verifica_palindromo(parola):
    print(f"'{parola}' è un palindromo.")
else:
    print(f"'{parola}' non è un palindromo.")

'anna' è un palindromo.

### Esercizio numero 5

In [12]:
#5. Scrivi una funzione che calcoli il fattoriale di un numero.
def fattoriale(n):
    # Caso base d'esempio ovvero: il fattoriale di 0 è 1
    if n == 0:
        return 1
    # Caso ricorsivo per riportare il risultato: calcoliamo il fattoriale di n moltiplicando n per il fattoriale di n-1
    else:
        return n * fattoriale(n - 1)

# Esempio di utilizzo della funzione
numero = float(input("inserisi un numero",))
risultato = fattoriale(numero)
print(f"Il fattoriale di {numero} è {risultato}.")

inserisi un numero 3

Il fattoriale di 3.0 è 6.0.

### Esercizio numero 6

In [ ]:
#6. Crea un dizionario da due liste, una che contiene le chiavi e l'altra i valori.
def crea_dizionario(lista_chiavi,lista_valori):

### Esercizio numpy

##  Crea un array numpy di dimensione 3x3 con valori casuali.

In [15]:
#16. Crea un array numpy di dimensione 3x3 con valori casuali.
import numpy as np

casual_array = np.random.rand(3,3)
casual_array

array([[0.40704384, 0.0534324 , 0.43564397],
       [0.01374164, 0.83837218, 0.32862385],
       [0.99081039, 0.10255675, 0.10164513]])

### Scrivi un programma che calcoli la somma di tutti gli elementi in un array numpy.

In [17]:
# 17. Scrivi un programma che calcoli la somma di tutti gli elementi in un array numpy.
import numpy as np

casual_array = np.random.rand(3,3)
#utilizziamo la funzione .sum()
casual_array.sum()

4.7816513464168215

###  Crea un array numpy e calcolane la media, mediana e varianza.

In [27]:
# 18. Crea un array numpy e calcolane la media, mediana e varianza.

import numpy as np

casual_array = np.random.rand(3,3)
media = np.mean(casual_array)
mediana= np.median(casual_array)
varianza=np.var(casual_array)

print('Media',media)
print('Mediana',mediana)
print('varianza', varianza)

Media 0.4707873258074728
Mediana 0.41983110802579315
varianza 0.10881317724756441

### Scrivi un programma che moltiplichi due matrici numpy.

In [34]:
# 19. Scrivi un programma che moltiplichi due matrici numpy.
import numpy as np

matrice1 = np.random.rand(5)
matrice2 = np.random.rand(5)
#np definisce la moltiplicazione tra due matrici avanti lo stesso numero di elenco
risultato = np.dot(matrice1,matrice2)
risultato

0.8496452569246302

### Crea un array numpy e ordinalo in modo ascendente.

In [35]:
#20. Crea un array numpy e ordinalo in modo ascendente.
import numpy as np
array_numpy = np.array([6,7,4,1,8,9])
#ordiniamoli
ordinato = np.sort(array_numpy)
ordinato

array([1, 4, 6, 7, 8, 9])

### Pandas

###  Crea un DataFrame pandas da un dizionario.

In [36]:
#21. Crea un DataFrame pandas da un dizionario.


import pandas as pd
import numpy as np

# Impostare il seed casuale 
np.random.seed(42)

# Creare un dizionario con dati casuali
dati = {
    'Nome': ['Persona' + str(i) for i in range(1, 6)],
    'Età': np.random.randint(20, 50, size=5),
    'Punteggio': np.random.uniform(0, 100, size=5)
}

# Creare il DataFrame
df = pd.DataFrame(dati)

df

C:\Users\fede1\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

       Nome  Età  Punteggio
0  Persona1   26  77.969100
1  Persona2   39  59.685016
2  Persona3   48  44.583275
3  Persona4   34   9.997492
4  Persona5   30  45.924889

###  Leggi un file CSV in un DataFrame pandas.

In [ ]:
#22. Leggi un file CSV in un DataFrame pandas.
import pandas as pd
import numpy as np
file_name = 'C:\Users\fede1\Untitled Folder 2\covid19_italy_province _python.csv'
dataframe = pd.read_csv(file_name)